<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiHTlvbE_F5SPsVZhZnpXGboba0eWEGLE</string>
	<key>GCM_SENDER_ID</key>
	<string>707564105035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bidc.kh.edocument</string>
	<key>PROJECT_ID</key>
	<string>bidcfirebase-31a72</string>
	<key>STORAGE_BUCKET</key>
	<string>bidcfirebase-31a72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707564105035:ios:2fc0413753f51b0dc7ccce</string>
</dict>
</plist>