<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>e_document.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
				<key>dateExpires</key>
				<string>23/11/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DTTJailbreakDetection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>safe_device.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>touch_ripple_effect.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B1CDA5B87857544C0A832F3307BB4BD6136EB8C</string>
						<key>dateExpires</key>
						<string>23/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2ENG5TVP9A</string>
						<key>name</key>
						<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2ENG5TVP9A.com.bidc.kh.edocument</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2ENG5TVP9A</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d9571df5-abed-4f5f-820c-b97017ba1548</string>
				<key>dateExpires</key>
				<string>23/11/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.bidc.kh.edocument</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2ENG5TVP9A</string>
				<key>name</key>
				<string>BANK FOR INVESTMENT AND DEVELOPMENT OF CAMBODIA PLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
